Sign Up
<form action="<%= users_url %>" method="post">
  <label for="username">Username</label><input type="text" name="user[username]" value="" id="username">
  
  <label for="password">Password</label><input type="text" name="user[password]" value="" id="password">
  
  

  <p><input type="submit" value="Create User"></p>
</form>